body    {
    background-color: #ebe1c6fd;
}

.title  {
    color: #663202;
    background-color: #cc9a59;
}

#title  {
    height: 80px;
    width: 500px;
    text-align: center;
    font-size: 30px;
}

.synopsis {
    font-size: 22px;
    font-style: italic;
    position: absolute;
    left: 50px; 
    width: 700px;
}

.banner {
    color: #663202;
    background-color: #cc9a59;
    font-size: 15px;
    height: 50px;
    width: 400px;
    
    position: absolute; top: 250px;
}
.text {
    font-size: 30px;
    font-style: italic;
    position: relative;
    top: 200px;
    left: 20px;
}