/* background-color: whitesmoke; */

body{
    background-color: #adadad;
}

.content{
    max-width: 80%;
    align-items: center;
    margin: auto;
}

header{
    padding: 10px;
    font-size: 30px;
    color: whitesmoke;
    background-color: #01254ee5;border: 1px solid black;
    
}

label{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3%;
    font-size: 30px;
    background-color: whitesmoke;
}

nav{
    background-color: #01254ee5;
    color: whitesmoke;
    padding: 10px;
    width: 300px;
    border: 1px solid black;
}



.A{
    line-height: 2px;
}

.Intro {
    height: 250px;
}

.about{
    background-color: whitesmoke;
    font-size: 30px;
    border: 1px solid black;
    padding: 3px;
    height: 900px;
}

#abouttxt{
    width: 40%;

}

#pic1{
    max-width: 40%;
    position:relative;
    left: 50%;
    bottom: 275px;
    border: 3px solid black;
}


a:link, a:visited{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color: black;
}

@media screen and (max-width:430px){
    #pic1{
        max-width: 30%;
    position:relative;
    left: 60%;
    bottom: 500px;
    border: 2px solid black;
    }
}