/* background-color: whitesmoke; */

body{
    background-color: #adadad;
}

.content{
    max-width: 80%;
    align-items: center;
    margin: auto;
}

header{
    padding: 10px;
    font-size: 30px;
    color: whitesmoke;
    background-color: #01254ee5;border: 1px solid black;
    
}

label{
    display:flex;
    flex-flow: row;
    margin-top: 3%;
    font-size: 30px;
    background-color: whitesmoke;
}

nav{
    background-color: #01254ee5;
    color: whitesmoke;
    padding: 10px;
    width: 300px;
    border: 2px solid black;
}

h2{
    position: relative;
    left: 10%;
}

h3{
    background-color: #01254ee5;
    width: 100%;
    color: whitesmoke;
    padding: 10px;
    height: 100px;
}
/* --------------------------------------------- */

.A{
    line-height: 2px;
}

.Intro {
    height: 250px;
}

.about{
    background-color: whitesmoke;
    font-size: 30px;
    border: 3px solid black;
    padding: 3px;
    height: 900px;
    
}

.projects{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    font-size: 30px;
    border: 3px solid black;
    padding: 30px;
    position: relative;
    height: 1900px;
    top: 30px;
}

/* --------------------------------------------- */

#abouttxt{
    width: 40%;
    position: relative;
    left: 5%;
}

#pic1{
    max-width: 35%;
    position:relative;
    left: 55%;
    bottom: 275px;
    border: 3px solid black;
}

#pic2{
    position: relative;
    left: 15%;
    top: 5px;
    max-width: 70%;
    border: 4px solid black;
}

#pic3{
    position: relative;
    left: 225px;
    top: 75px;
    max-width: 30%;
    border: 4px solid black;
}

#pic4{
    height: 453px;
    position: relative;
    left: 325px;
    top: 75px;
    max-width: 30%;
    border: 5px solid black;
}

#pic5{
    position: relative;
    max-width:30%;
    height: 460px;
    top: 625px;
    left: -655px;
    border: 4px solid black;
}

#pic6{
    position: relative;
    max-width:30%;
    height: 460px;
    top: 150px;
    left: 765px;
    border: 4px solid black;
}
/* --------------------------------------------- */

a:link, a:visited{
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color: black;
}

/* ---------------------------------------------- */

@media screen and (max-width:430px){
    #pic1{
        max-width: 30%;
    position:relative;
    left: 60%;
    bottom: 500px;
    border: 2px solid black;
    }
}